# Current task

# Next tasks
- debug config for errors ?

# Improvement
- remove process terminal ?
- DT-based frame rendering interpolation
> limit framerate when VSync disabled
   - https://lazyfoo.net/tutorials/SDL3/12-frame-rate-and-vsync/index.php
> debug VS release build
   - process terminal
   - logging
