# Current task
- pause menu
- add basic music and sound effects to gameplay

# Next tasks
- add all required screens (splash, music type, game, game over, thx)
- options and configurations
> tweak timing and juice
   - bonus on 4x lines removes + blip
   - finish gui mockup (borders, underlines, etc)
   - parameterize game design and events to all 3 stats
   - pause
- pause mode
- the tetro flash thing

# Bugs to fix
- render I tetro properly
- flicker rendering tetro on first spawn (rendering related)

# Testing
- movement and rotation collision against play field and borders

# Improvement
- DT-based frame rendering interpolation
> limit framerate when VSync disabled
   - https://lazyfoo.net/tutorials/SDL3/12-frame-rate-and-vsync/index.php
> debug VS release build
   - process terminal
   - logging
> Better audio mixing and more robust device / stream conversion between input data and final form

# Things to learn
- dynamic multi-dimensional arrays in C