# Current task
- basic music and sound effects
- looping of music

# Next tasks
- the tetro flash thing
- add all required screens (splash, music type, game, game over, thx)
> tweak timing and juice
   - bonus on 4x lines removes + blip
   - finish gui mockup (borders, underlines, etc)
   - parameterize game design and events to all 3 stats
   - pause
- pause mode

# Audio stuff
> Interface
   > Setup
      - play sound effect
      - play music
      - destroy instance + cleanup
   > Controls
      > music
         - volume
         - resume
         - pause
         - stop / kill / clear
         - looping
      > sfx
         - volume (all channels)
         - resume (all channels)
         - pause (all channels)
         - stop / kill / clear (all channels)
   > Specifics
      - single music channel
      - N concurrent sfc channels
      - set type of WAV per PUT operation
   > Realizations
      - registration for WAV to ID (valid and invalid) -> WAV can be used for music or SFX
   > Functions to check out
      - SDL_GetAudioStreamAvailable
      - SDL_FlushAudioStream
      - Flush
   > Problems
      - pause / resume
      - volume
      - not enough data -> need to flush
      - mismatching specs
      - filling into buffer when buffer not empty -> growing + sequential playback !?

# Audio usage

   > Setup

      audio_s * audio = audio_create(sfx_channel_count)
      const AID_MUSIC = audio_register_WAV(path)
      const AID_EFFECT = audio_register_WAV(path)

   > Volume

      audio_volume_music_set(audio, volume) // For single music channel
      audio_volume_effects_set(audio, volume) // For all sfx channels

   > Playback

      audio_pause_music
      audio_resume_music
      audio_kill_music

      audio_pause_effects
      audio_resume_effects
      audio_kill_effects

   > Destroy

      audio_destroy(audio)

# Bugs to fix
- multi-firing of input
- render I tetro properly
- flicker rendering tetro on first spawn (rendering related)

# Testing
- movement and rotation collision against play field and borders

# Improvement
- DT-based frame rendering interpolation
> limit framerate when VSync disabled
   - https://lazyfoo.net/tutorials/SDL3/12-frame-rate-and-vsync/index.php
> debug VS release build
   - process terminal
   - logging

# Gameplay Notes
> GUI
   - score
   - level
   - lines
   - next shape

# Things to learn
- dynamic multi-dimensional arrays in C